$footer-background:#373d45;
$footer-color: #fff;

.footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  background: $footer-background;
  &__content-wrapper{
    max-width: 1240px;
    padding: 2rem 0 1rem;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  &__copyright{
    text-align: center;
    color:$footer-color;
    order:2;
    width: 100%;
    a{
      text-decoration: none;
      color:$footer-color;
    }
  }
  &__social-media{
    display: flex;
    flex-wrap: nowrap;
    order: 1;
    padding-bottom: 1em;
    a {
      color: transparent;
      display: inline-block;
      width: 50px;
      margin: 0 0.6em;
      line-height: 50px;
    }

  }
}
.linkedin{
  background: url('../images/social-media/ic_linkedin.svg') no-repeat scroll 100%;
}
.facebook{
  background: url('../images/social-media/ic_facebook.svg') no-repeat scroll 100%;
}
.youtube{
  background: url('../images/social-media/ic_youtube.svg') no-repeat scroll 100%;
}
.twitter{
  background: url('../images/social-media/ic_twitter.svg') no-repeat scroll 100%;
}
.github{
  background: url('../images/social-media/ic_github.svg') no-repeat scroll 100%;
}
@media screen and (min-width: 768px){
  .footer{
    &__content-wrapper{
      padding: 2rem 0 2rem;
      justify-content: space-around;
    }
    &__social-media{
      order:2;
      padding-bottom: 0;
    }
    &__copyright{
      order:1;
      width: auto;
    }
  }
}