//Social icons
a.icon-ic_facebook {
  background: url('../images/social-media/ic_facebook.svg') 0 0 no-repeat;
}
a.icon-ic_linkedin {
  background: url('../images/social-media/ic_linkedin.svg') 0 0 no-repeat;
}
a.icon-ic_twitter {
  background: url('../images/social-media/ic_twitter.svg') 0 0 no-repeat;
}
a.icon-ic_github {
  background: url('../images/social-media/ic_github.svg') 0 0 no-repeat;
}
a.icon-ic_youtube {
  background: url('../images/social-media/ic_youtube.svg') 0 0 no-repeat;
}