/* ==Colours== */

/* Primary colours */
$primaryBlue: #1795d4;
$primaryYellow: #fed800;
$primaryWhite: #fff;

/* Secondary colours */
$secondaryBlue: #1482b8;
$secondaryYellow: #d4b526;
$secondaryWhite: #dff9ff;

/* Tertiary colours */
$tertiaryBlue: #196b98;
$tertiaryWhite: #cdeeff;

/* Interactive */
$pink: #e7087c;
$primaryBtnHover: $tertiaryBlue;
$primaryBtnFocus: $primaryBlue;
$primaryBtnOutline: #8bc9e8;
$primaryBtnActive: #196b98;

$secondaryBtnOutlineHover: #196b98;
$secondaryBtnOutline: $primaryBtnOutline;

$transparent: transparent;

/* White */
$white: $primaryWhite;

/* Black */
$black: #000;

/* Greys */
$greyBlue: #55667a;
$bgGrey: #eee;
$lightGrey: #F0F0F0;
$lightestGrey: #f5f5f5;
$midLightGrey: #ddd;
$midGrey: #AEB9C6;
$darkGrey: #5F7083;

/* Blues */
$darkBlue: #373d45;

/* Categories */
$category-all: #7c33a2;
$category-ee-life: #11a69c;
$category-our-thinking: #ec007c;
$category-tech-focus: #7c9f00;
$category-whats-new: #ed5307;

/* Font colours */
$fontDarkGrey: #333;
$fontGrey: #666;
$fontLightGrey: #aaa;

/* Illustrations */
$lightBulb: 'lightbulb.png';
$lightBulbYellow: 'lightbulb-yellow.png';
$verticals: 'verticals.png';
$helix: 'helix.png';
$thoughtBubble: 'thought-bubble.png';
$globe: 'globe-white.png';
$globeBlue: 'globe.png';
$calendar: 'calendar.png';
$speechBubble: 'speech-bubble.png';
$eeLogo: 'ee-logo.png';
$molecular: 'molecular.png';
$usFlag: 'us-flag.png';
$cv: 'cv.png';
$coatOfArms: 'coat-of-arms.png';
$spaceShip: 'space-ship.png';
$mobilePhone: 'mobile.png';
$eesa: 'eesa-logo.png';
$years: '10-years.png';
$brand: 'brand.png';




