$font-stack: Helvetica, Arial, sans-serif;
$site-background: #fafafa;
$header-color: #1795d4;
$navigation-link-color: #fff;
$footer-background:#373d45;
$footer-color: #fff;

*{
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

html, body {
  background-color: $site-background;
  font:16px normal $font-stack;
}
a{
  color:$header-color;
  text-decoration: none;
  border-bottom: 1px solid $header-color;
  display: inline-block;
  &:hover{
    transform: scale(1.03);
  }
}
p{
  line-height: 1.5;
}
.header{
  background: $header-color;
  max-width: 1280px;
  margin: 0 auto;
  &__content-wrapper{
    height: 80px;
    display: flex;
    align-items: center;
    position: relative;
  }
  &__logo{
    margin-left: 1.5em;
    display: flex;
    align-items: center;
    height: 40px;
    margin-left: 1.5em;
  }
  &__navigation {
    position: absolute;
    text-align: right;
    right:0;
    top:2.5em;

    &-link {
      margin: 0 2em;
      color: $navigation-link-color;
      text-decoration: none;
      border-bottom: 1px solid $navigation-link-color;
    }
  }
  &__lang-switcher{
    position: absolute;
    right:0;
    top:0;
    padding:5px;
    ul{
      list-style-type: none;
      li{
        display: inline-block;
        padding-right: 10px;
        a{
          color:#fff;
          &[aria-current="page"]{
            color:#ddd;
          }
        }
      }
    }
  }
}
.content{
  max-width: 1280px;
  margin: 0 auto;
  min-height: calc(100vh - 160px);
}
.module{
  text-align: center;
  padding:5em 0;
  &__title{
    font-size: 2em;
  }
  &__content{
    margin: 0 auto;
    line-height: 1.5;
    font-size: 1.2em;
    max-width: 800px;
    padding-top: 2em;
  }
  &__link{
    font-size: 1.2em;
    padding: 20px;
    display: inline-block;
  }
}
.hero{
  &__container{
    position: relative;
    overflow: hidden;
  }
  &__title{
    position: absolute;
    top: calc(50% - 100px);
    width: 80%;
    margin: 0 auto;
    text-align: center;
    font-size: 3em;
    color: #fff;
    line-height: 1;
    left: calc(50% - 40%);
  }
  &__image{
    width:auto;
    height:390px;
  }
}
.footer{
  bottom: 0;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  background: $footer-background;
  &__content-wrapper{

    padding: 1rem 0 1rem;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  &__copyright{
    text-align: center;
    color:$footer-color;
    order:2;
    width: 100%;
    a{
      text-decoration: none;
      color:$footer-color;
    }
  }
  &__social-media{
    display: flex;
    flex-wrap: nowrap;
    order: 1;
    padding-bottom: 1em;
    a {
      border-bottom: 0 none;
      color: transparent;
      display: inline-block;
      width: 50px;
      margin: 0 0.6em;
      line-height: 50px;
    }

  }
}
.linkedin{
  background: url('../images/social-media/ic_linkedin.svg') no-repeat scroll 100%;
}
.facebook{
  background: url('../images/social-media/ic_facebook.svg') no-repeat scroll 100%;
}
.youtube{
  background: url('../images/social-media/ic_youtube.svg') no-repeat scroll 100%;
}
.twitter{
  background: url('../images/social-media/ic_twitter.svg') no-repeat scroll 100%;
}
.github{
  background: url('../images/social-media/ic_github.svg') no-repeat scroll 100%;
}
.blog{
  &__container{
    max-width: 1024px;
    margin: 0 auto;
    padding: 2em 1em;
    box-sizing: border-box;
  }
  &__title{
    text-align: center;
    font-size: 2.5em;
  }
  &__author-date-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top:2em;
    p{
      padding: 0 1em;
      font-size: 1.2em;
    }
  }
  &__author{
    font-style: italic;
  }
  &__date{

  }
  &__content{
    padding-top:2em;
    p{
      line-height: 1.5;
      text-align: justify;
      padding: 0.5em 0;
    }
    h3{
      padding:1em 0 0.5em 0;
      font-size: 1.5em;
    }
  }
  &__slug{

  }
}
.blogs{
  &__list {
    list-style-type: none;
    padding:20px;
    li{
      padding-bottom: 10px;
      span{
        min-width: 80px;
        display: inline-block;
        font-style: italic;
      }
      >a{
        text-transform: capitalize;
        font-size: 1.2em;
        display: inline-block;
        margin: 0 10px;
      }
    }
  }
}
.contact{
  &__heading {
    font-size: 3.5em;
    padding: 30px;
  }
  &__content-wrapper{
    display: flex;
    flex-wrap: wrap;
    padding:10px 30px 30px;
  }
  &__content{
    flex:1 1 60%;
    p{
      padding-bottom: 15px;
      line-height: 1.5;
    }
  }
  &__address{
    flex: 1 1 35%;
    a{
      font-size: 1.2em;
      word-break: keep-all;
      margin-bottom: 15px;
      display: inline-block;
      line-height: 1;
    }
    p{
      font-size: 1.2em;
      line-height: 1.5;
    }
  }
}
.blog-list{
  &__heading{
    font-size: 3.5em;
    padding: 30px;
  }

  &__title{
    padding: 10px 30px;
    h3{
      font-size: 1.2em;
    }
    p{
      line-height: 1.5;
    }
  }
  &__content{
    padding: 1em 90px 2em 90px;
    &> p:first-child{
      display: block;
      b{
        font-weight: normal;
      }
    }
    &>*{
      display: none;
    }
  }
}
@media screen and (min-width: 768px) {
  .header{
    &__navigation {
      right: 20em;
      top:auto;
    }
  }
  .hero{
    &__title{
      font-size: 6em;
    }
    &__image{
      width:100%;
      height:auto;
    }
  }
  .footer{
    &__content-wrapper{
      padding: 1rem 0 1rem;
      justify-content: space-around;
    }
    &__social-media{
      order:2;
      padding-bottom: 0;
    }
    &__copyright{
      order:1;
      width: auto;
    }
  }
  .blog{
    &__container{
      max-width: 1024px;
      margin: 0 auto;
      padding: 4em 8em;
      box-sizing: border-box;
      font-size: 1.2em;
    }
    &__title{
      text-align: center;
      font-size: 2.5em;
      padding: 0 1em;
    }
    &__author-date-wrapper{
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top:2em;
      p{
        padding: 0 1em;
      }
    }
    &__author{
      font-style: italic;
    }
    &__date{

    }
    &__content{
      padding-top:2em;
      p{
        line-height: 1.5;
        text-align: justify;
        padding: 0.5em 0;
      }
      h3{
        padding:1em 0 0.5em 0;
        font-size: 1.5em;
      }
    }
  }
  .contact{
    &__address{
      margin-left: 5%;
      a{
        font-size: 1.4em;
      }
    }
  }
}
