@import "normalise";
@import "reset";
@import "variables";
@import "grid";
@import "icons";
@import "typography";



$site-background: #fafafa;
$header-color: #1795d4;
$footer-background:#373d45;
$footer-color: #fff;

*{
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

html {
 
  font-size: 62.5%;

}

body {

  font-size: 2rem;
  font-family: lato,sans-serif;
  font-weight: 400;
  color: #666;
  background-color: #eee;

}

a {
  color:$header-color;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  display: inline-block;
}
a.inPageLink {
  position: absolute;
}

a.inPageLink:focus {
  outline: none;
}

p{
  line-height: 1.5;
}
.main-container {
  background-color: #fff;
  box-shadow: 0 5px 30px 0 rgba(0,0,0,0.2);
  margin: 0 auto;
  max-width: 1280px;
}

.header{
  background: $header-color;
  
  &__content-wrapper{
    display: flex;
    align-items: center;
    flex : 1;
    justify-content: space-between;
    padding: 20px 25px;
  }
  &__logo{
    display: flex;
    align-items: center;
    height: 40px;
  }
  &__navigation {

    display : none;
    &-link {
      color: $secondaryWhite;
      font-size: 1.8rem;
      margin: 0 1.5em;
      text-decoration: none;
      white-space: nowrap;
    }
    &-link:hover {
      color : $secondaryWhite;
      text-decoration: none;
      border-bottom: 1px solid $secondaryWhite;
    }
  }
  &__lang-switcher{
    
    padding:5px;
    ul{
      list-style-type: none;
      font-size: 1.4rem;
      border-left: 2px double #fff;
      border-right: 2px double #fff;
      li{
        display: inline-block;
        
        padding-left: 10px;
        padding-right: 10px;
        a{
          color:#fff;
          &[aria-current="page"]{
            color:#ddd;
          }
        }
      }
    }
  }
}
.content{
  min-height: calc(100vh - 160px);
}
.module{
  text-align: center;
  padding:4em 25px;
  &__title{
    font-size: 2em;
  }
  &_heading{
    font-size: 4rem;
  }
  &__content{
    margin: 0 auto;
    line-height: 1.5;
    font-size: 1.2em;
    max-width: 800px;
    padding: 2em 1.5em;
  }
  &__link{
    font-size: 1.2em;
    display: inline-block;
  }

  &_intro {
    margin: 0 auto;
    font-size: 2rem;
    text-align: center;
  }

}
.hero{
  &__container{
    position: relative;
    overflow: hidden;
  }
  &__title{
    position: absolute;
    top: calc(50% - 100px);
    width: 80%;
    margin: 0 auto;
    text-align: center;
    font-size: 3em;
    color: $secondaryWhite;
    line-height: 1;
    left: calc(50% - 40%);
  }
  &__lastLine {
    color: $white;
  }
  &__image{
    width:auto;
    height:390px;
  }
}

.client_container {
  background-color: $lightestGrey;

  .client_list{
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: "row";
    flex-wrap: wrap;
    list-style: none;
  
    .client_item {
      text-align: center;
      padding: 1em;
      width: 50%;
  
      img {
        max-width: 100%;
      }
    }
  
  }

}

.contact {

  &_locations {
    background-color : $secondaryYellow;
    background-repeat : no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 2.5em 0;
    text-align: center;
  }

  &_locationsContainers {
    display : flex;
    flex-direction: column;
  }

  &_location {
    align-items: center;
    background-color: $lightestGreyTransparent;
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 3em 1em;
    margin: 25px;
    width: auto;
  }

  &__region {
    color: $fontGrey;
    font-size: 1.6rem;
    margin-bottom: 25px;
  }

  &__city {
    font-size: 3rem;
    margin-bottom: 25px;
  }

  &__tel {
    color: $fontGrey;
    font-family: montserrat,sans-serif;
    font-size: 2.2rem;
    margin-bottom: 25px;
  }

  &__email {
    font-family: montserrat,sans-serif;
    font-size: 1.8rem;
    font-weight: 300;
    margin-bottom: 25px;
  }


}

.roleTypes {

  display : flex;
  flex-direction: column;

  &_type {
    align-items: center;
    background-color: $lightGrey;
    background-position : center 30%;
    background-repeat : no-repeat;
    background-size : 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 6em 1em 3em 1em;
    margin: 25px;
    text-align: center;
    width: auto;
  }

}

.btn {
  text-align: center;
  border-radius: 5px;
  background-color: rgba(0,0,0,0);
  color: #1795d4;
  -webkit-box-shadow: inset 0 0 0 2px #1795d4;
  box-shadow: inset 0 0 0 2px #1795d4;
  min-width: 250px;
  width: 100%;
  padding: 13px 30px;
  max-width: 325px;
  border: none;
  cursor: pointer;
  font-size: 2rem;
  display: inline-block;
  font-weight: 700;
}

.footer{
  bottom: 0;
  background: $footer-background;
  display: flex;
  flex: 1;
  flex-direction: column;
  
  .footer-content {
    border-bottom: 1px solid $fontGrey;
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 3rem 25px;
    overflow: hidden;

    .footer-strapline {
      flex: 0 0 50%;
      margin-bottom: 3rem;
      overflow: hidden;
      text-align: center;
      p {
        font-size: 2.6rem;
        color: $white;
        font-weight: $regular;
        margin: 0;
      }
    }
    .footer-social-links-menu {
      display: flex;
      flex: 0 0 50%;
      justify-content: center;

      .social-link {
          display: inline-block;
          text-indent: -999em;
          height: 50px;
          width: 50px;
          color: #1795d4;
          font-weight: bold;
          text-align: center;
          border-radius: 50%;
          margin-right: 1rem;
          -webkit-transition: background-color ease-out 0.1s;
          transition: background-color ease-out 0.1s;
      }

    }

    .footer-navigation {
      display: flex;
      flex: 1;
      flex-direction: column;
      align-items: center;
    }

    .footer__navigation-link {
      color: #f5f5f5;
      font-size: 1.8rem;
      padding: 1rem 0;
    }

    .legal-navigation {
      align-items: center;
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: center;

      a {
        color: #f5f5f5;
        font-size: 1.4rem;
        padding: 0 0 0 0;
      }
    }
  }

}

.blog{

  &__hero {
    display: flex;
    background-size: cover;
    background-position: center center;
    justify-content: center;
    min-height: 30vh;
    padding: 0 25px;

    &__container {
      display: flex;
      flex-direction:column;
      justify-content: space-between;
      width: 1024px;
    }
  }

  &__contentWrapper {

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;

    &__container{
      max-width: 1024px;
    }

  }

  &__title{
    color : $black;
    text-align: left;
    font-size: 2em;
  }

  &__author-date-wrapper{
    
    align-items: center;
    display: flex;
    font-size: 0.8em;
    padding: 25px 0;
    p {
      color : $greyBlue;
      padding: 0;
      margin: 0;
      font-size: 1.2em;
    }
  }
  &__author-date-separator {
    margin: 0 1em;
  }
  &__author{
    font-style: italic;
  }
  &__postOverview{
    color : $black;
    font-weight: bold;
    margin-bottom: 25px;
  }
  &__content{
    padding-top:2em;
    p{
      line-height: 1.5;
      text-align: justify;
      padding: 0.5em 0;
    }
    h3{
      padding:1em 0 0.5em 0;
      font-size: 1.5em;
    }
  }

  &__list {
    color: primaryBlue;
    list-style-type: square;
    margin-left: 25px;
  }

  &__image{
    width: 100%;

    img {
      max-width: 100%;
    }
  }
  
}

.services {

  &__hero {
    display: flex;
    background-size: cover;
    background-position: center center;
    justify-content: center;
    min-height: 30vh;
    padding: 0 25px;

    &__container {
      display: flex;
      flex-direction:column;
      justify-content: space-between;
      width: 1024px;
    }
  }

  &__contentWrapper {

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;

    &__container{
      max-width: 1024px;
    }

  }

  &__title{
    color : $white;
    text-align: left;
    font-size: 2em;
  }

  &__postOverview{
    color : $midLightGrey;
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 25px;
    max-width: 768px;
  }
  &__content{
    padding-top:2em;
    p{
      line-height: 1.5;
      text-align: justify;
      padding: 0.5em 0;
    }
    h3{
      padding:1em 0 0.5em 0;
      font-size: 1.5em;
    }
  }

  &__list {
    color: primaryBlue;
    list-style-type: square;
    margin-left: 25px;
  }

  &__image{
    width: 100%;

    img {
      max-width: 100%;
    }
  }

  &__blockCallouts {
    display : flex;
    flex-direction: column;
  }

  &__blockCallout {
    align-items: center;
    background-color: $darkGrey;
    background-position : center 30%;
    background-repeat : no-repeat;
    background-size : 1.5em;
    color: $white;
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
    justify-content: center;
    padding: 4em 1em 1em 1em;
    margin: 25px;
    text-align: center;
    width: auto;
  }

  &__blockCallout:nth-child(1) { 
    background-color: $category-all;
  }

  &__blockCallout:nth-child(2) { 
    background-color: $category-ee-life;
  }

  &__blockCallout:nth-child(3) { 
    background-color: $category-our-thinking;
  }

  &__blockCallout:nth-child(4) { 
    background-color: $category-tech-focus;
  }

  &__blockCallout:nth-child(5) { 
    background-color: $category-whats-new;
  }

  &__uspsWrapper {
    background-color: $lightestGrey;
    display: flex;
    justify-content: center;
    padding: 25px;
  }

  &__uspsContainer {
    max-width: 1024px;
  }

  &__usps {
    margin : 25px 0;
  }

  &__usp {
    margin : 50px 0;
  }

  &__decorativeBar {
    background-color: $category-all;
    height: 2px;
    width: 75px;
  }

  &__usp:nth-child(1) .services__decorativeBar { 
    background-color: $category-all;
  }

  &__usp:nth-child(2) .services__decorativeBar { 
    background-color: $category-ee-life;
  }

  &__usp:nth-child(3) .services__decorativeBar { 
    background-color: $category-our-thinking;
  }

  &__usp:nth-child(4) .services__decorativeBar { 
    background-color: $category-tech-focus;
  }

  &__usp:nth-child(5) .services__decorativeBar { 
    background-color: $category-whats-new;
  }

  &__uspHeading {
    color: $darkGrey;
    font-size: 2.2rem;
    font-weight: bold;
    margin : 12px 0;
  }
  
}

.bold {
  font-weight: bold;
}

.blogs{
  &__list {
    list-style-type: none;
    li{
      padding-bottom: 10px;
      span{
        min-width: 80px;
        display: inline-block;
        font-style: italic;
      }
      >a{
        text-transform: capitalize;
        font-size: 1.2em;
        display: inline-block;
        border-bottom: 0 none;
        margin: 0.5em 0;
        padding-right: 1em;
        &:hover{
          transform: scale(1);
        }
      }
    }
  }
}
.contact{
  &__heading {
    font-size: 3.5em;
    padding: 30px;
  }
  &__content-wrapper{
    display: flex;
    flex-wrap: wrap;
    padding:10px 30px 30px;
  }
  &__content{
    flex:1 1 60%;
    p{
      padding-bottom: 15px;
      line-height: 1.5;
    }
  }
  &__address{
    flex: 1 1 35%;
    a{
      font-size: 1.2em;
      word-break: keep-all;
      margin-bottom: 15px;
      display: inline-block;
      line-height: 1;
    }
    p{
      font-size: 1.2em;
      line-height: 1.5;
    }
  }
}
.blog-list{
  &__heading{
    font-size: 3.5em;
    padding: 30px;
  }

  &__title{
    padding: 10px 0;
    h3{
      font-size: 1.2em;
    }
    p{
      line-height: 1.5;
    }
  }
  &__content{
    padding: 1em 0 2em 0;
    &> p:first-child{
      display: block;
      b{
        font-weight: normal;
      }
    }
    &>*{
      display: none;
    }
  }
}
.simple-text-module{
  padding: 2em 1.5em 1em 1.5em;
  text-align: center;
  font-size: 1.2em;
  margin: 0 auto;
}

.legalModule {
  padding: 25px;
  max-width: 1024px;

  p{
    white-space: pre-wrap;
  }
}

.articlesList {
  padding: 25px;
  max-width: 1024px;

  &_metaData {
    span {
      color : $black;
      font-size: 0.8em;
    }
  }
}

@media screen and (min-width: 768px) {
  .hero {
    
    &__image {
      width:100%;
      height:auto;
    }

    &__title {
      font-size: 9rem;
    }
  }

  .client_container {
  
    .client_list{
    
      .client_item {

        padding: 2em;
        width: 25%;
    
      }
    
    }
  
  }

  .footer{
    .footer-content {
      flex-direction: row;
  
      .footer-strapline {
        text-align: left;
      }
      
      .footer-strapline {
        margin-bottom: 0;
        text-align: left;
        p {
          font-size: 4rem;
        }
      }

      .footer-social-links-menu {
        justify-content: flex-end;
  
        .social-link {
            display: inline-block;
            text-indent: -999em;
            height: 50px;
            width: 50px;
            color: #1795d4;
            font-weight: bold;
            text-align: center;
            border-radius: 50%;
            margin-right: 1rem;
            -webkit-transition: background-color ease-out 0.1s;
            transition: background-color ease-out 0.1s;
        }
  
      }

      .footer-navigation {
        flex-direction: row;
        justify-content: flex-start;
      }

      .footer__navigation-link {
        padding: 1rem 5rem 1rem 0;
      }

      .legal-navigation {
        flex-direction: row;
  
        a {
          color: #f5f5f5;
          font-size: 1.4rem;
          padding: 0 3rem 0 0;
        }
      }

    }
  
  }

  .blog{

    &__title{
      font-size: 3em;
      width: 50%;
    }

    &__author{
      font-style: italic;
    }
    &__content{
      padding-top:2em;
      p{
        line-height: 1.5;
        text-align: justify;
        padding: 0.5em 0;
      }
      h3{
        padding:1em 0 0.5em 0;
        font-size: 1.5em;
      }
    }
    &-list__content{
      padding: 1em 5em 2em 5em;
    }
  }

  .services {

    &__title{
      font-size: 3em;
      width: 50%;
    }
    &__content{
      padding-top:2em;
      p{
        line-height: 1.5;
        text-align: justify;
        padding: 0.5em 0;
      }
      h3{
        padding:1em 0 0.5em 0;
        font-size: 1.5em;
      }
    }
    &-list__content{
      padding: 1em 5em 2em 5em;
    }
  }

  .contact{
    &__address{
      margin-left: 5%;
      a{
        font-size: 1.4em;
      }
    }
  }
  .simple-text-module{
    padding:2em 4em 1em 4em;
  }
}

@media screen and (min-width: 1024px) {

  .header{

    &__navigation {
      display: flex;
      flex: 1;
      justify-content: flex-end;
      align-items: flex-end;
    }

    &__lang-switcher{
      &__separator{
        border-right : 2px solid #fff;
      }
    }
  }

  .blog__hero,
  .services__hero {
    min-height: 50vh;
  }

  .footer .footer-langSwitcher {
    display: none;
  }

  .contact {

    &_locationsContainers {
      flex-direction: row;
      justify-content: space-around;
    }

    &_location {
      width: 28%;
    }

  }

  .roleTypes {

    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  
    &_type {
      width: 28%;
    }
    
  }

  .services {
    &__blockCallouts {

      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
  
    }

    &__blockCallout {

      width: 28%;
  
    }

    &__usps {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap; 
      justify-content: space-between;
    }
  
    &__usp:nth-child(odd) {
      flex : 1 1 35%;
      margin-right: 50px;
    }

    &__usp:nth-child(even) {
      flex : 1 1 35%;
    }

    &__uspDescription {
      text-align: justify;
    }
  }

  .simple-text-module {
    max-width: 1024px;
  }

  .module{
  
    &_intro {
      max-width: 1024px;
    }
  
  }

}
